<!DOCTYPE html>
<html>
<head>
    @using MaxiMvc5.Models;
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/icon.ico" rel="shortcut icon" />
    <title>@csFunc.getPageName(Request) - Moto Sotry</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/Tyumen/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/Tyumen/style.css" rel="stylesheet" media="screen">
    <meta name="description" content="Want to find a future, there are plans, there are quantifiable record of life, for me it is important numbers, or bits and pieces of the process. In addition, the website where the Chinese font ugly ... had to use English to maintain the beauty of the page." />
</head>
<body>
    <!-- Preloader -->
    <div id="preloader" title="Loading...">
        <div id="status"></div>
    </div>
    <h3>@csFunc.getPageName(Request)</h3>
    <div class="wrapper">        
        @if (!string.IsNullOrWhiteSpace(csWay.CurrentUserName))
        {
            <div id="mainmenu">
                <table>
                    <tr>
                        <td>
                            <div id="menu" title="表單" class="feature wow fadeInUp animated">
                                <a href="javascript:void();"><i class="feature-icon"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr id="list">
                        <td>
                            @using (var db = new MVC())
                            {
                                foreach (var i in db.tUrl.Where(s => (s.cUpId == null || s.cUpId == 0) && s.cEnable).OrderBy(s => s.cSort))
                                {
                                    <div title="@i.cName" class="feature wow fadeInUp animated">
                                        <div class="feature-icon">
                                            <a href="@Url.Action(i.cPage, i.cFolder)"><i class="fa @i.cIcon"></i></a>
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="logout" title="登出">
                                <p>
                                    <a class="scroll-down" href="@Url.Action("WayOut", "Way")"><i class="fa fa-sign-out"></i></a>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        }
        @RenderBody()
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© Copy Right Maximus Chang</p>
                    </div>
                </div>
            </div><!-- .container -->
        </div><!-- .footer -->
    </div><!-- .wrapper -->
    <!-- Javascript files -->
    <script type="text/javascript">
        var rv = -1;
        if (navigator.appName == 'Microsoft Internet Explorer') {
            var ua = navigator.userAgent;
            var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null) { rv = parseFloat(RegExp.$1); }
        }
        if (rv < 9 && rv > -1) { window.location.href = "/Way/NoSupport/"; }
    </script>
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.backstretch-2.0.4.min.js"></script>
    <script src="~/Scripts/wow-1.0.2.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
