<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/icon.ico" rel="shortcut icon" />
    <title>@ViewBag.Title Moto Sotry</title>
    @*@Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/themes/sunny/css")*@
    <link href="~/Content/Tyumen/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/Tyumen/style.css" rel="stylesheet" media="screen">
    <meta name="description" content="Want to find a future, there are plans, there are quantifiable record of life, for me it is important numbers, or bits and pieces of the process. In addition, the website where the Chinese font ugly ... had to use English to maintain the beauty of the page." />
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <div class="wrapper">
        @using MaxiMvc5.Models;
        @if (!string.IsNullOrWhiteSpace(csWay.CurrentUserName))
        {
            <div id="mainmenu" >
                <div title="Menu" class="feature wow fadeInUp animated">
                    <div class="feature-icon">
                        <a href="javascript:void();"><i class="fa fa-cog"></i></a>
                    </div>
                </div>
                <div title="設定" class="feature wow fadeInUp animated">
                    <div class="feature-icon">
                        <a href="javascript:void();"><i class="fa fa-cog"></i></a>
                    </div>
                </div>
                <div id="logout" title="登出">
                    <p>
                        <a class="scroll-down" href="@Url.Action("WayOut", "Way")"><i class="fa fa-sign-out"></i></a>
                    </p>
                </div>
            </div>

        }
        @RenderBody()
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© Copy Right Maximus Chang</p>
                    </div>
                </div>
            </div><!-- .container -->
        </div><!-- .footer -->
    </div><!-- .wrapper -->
    <!-- Javascript files -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.backstretch-2.0.4.min.js"></script>
    <script src="~/Scripts/wow-1.0.2.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
