@model MaxiMvc5.Models.tCode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cValue1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cValue1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cValue2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cValue2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cDesp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cDesp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cSort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cSort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cEable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cEable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tCode2.cTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tCode2.cTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
